 @font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound';
}
/* header css */
.header{
    width: 100%;
    height: 8vh;
}
/* header 사용자 로고 css */
.header_01{
    display: flex;
    align-items: center;
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: #F9D984;
}

.user_btn{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}
.header_01 img{
    height: 4vh;
}
.header_01 a{
    color: white;
    font-size: 2vh;
}

/* header 비비엔다 로고 css */
.header_02{
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: #F9D984;
    display: flex;
    align-items: center;
    
}
.header_02 img{
    height: 6vh;
    text-align: center;
    margin: 0 auto;
}

/* header 검색창 css */
.header_03{
    width: 33.33%;
    height: 100%;
    float: right;
    background-color: #F9D984;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_03 input{
    width: 17vw;
    height: 4vh;
    border: transparent;
    border-radius: 6px;
}
.header_03 button{
    margin-left: 1vw;
    margin-right: 1vw;
    float: right;
    border: transparent;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
}
.header_03 img{
    height: 4vh;
    width: 100%;
}

.main{
    overflow-y: scroll;
    width: 100%;
    height: 90vh;
    background-color: white;
}

/* .main::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

.main::-webkit-scrollbar-thumb{
    background-color: #F9D984;
    border-radius: 3px;
    border: 2px solid transparent;
} */

/* 메인페이지 모달 팝업창 */
.user_input_modal_window{
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.user_input_modal{
    border: 2px solid #F9D984;
    background-color: white;
    top: 18.3%;
    left: 7%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 13%;
    height: 18%;
}

.user_input_modal_top{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1vw;
    color: black;
    text-align: center;
    height: 25%;
    background-color: #F9D984;
    justify-content: right;
}
.user_input_modal_top_txt{
    width: 70%;
}

.user_input_modal_mid{
    font-size: 1vw;
    justify-content: space-around;
    align-items: center;
    display: flex;
    height: 75%;
    background-color: white;
}

.user_input_modal_bot{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 45%;
}

.user_input_modal_bt{
    height: 60%;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: transparent;
}

.user_input_modal_bt img{
    height: 100%;
}
.user_input_modal_bot_01{
    align-items: center;
    display: flex;
    justify-content: center;
    height: 45%;
}

.user_input_modal_bt_01{
    height: 60%;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    border: transparent;
}

.user_input_modal_bt_01 img{
    height: 100%;
}
.main_btnclose{
    width: 15%;
    height: 100%;
}
.main_btnclose_X{
    border: transparent;
    background-color: transparent;
    line-height: 0;
    vertical-align: 0;
}
.main_btnclose_X a{
    border: transparent;
    background-color: transparent;
    line-height: 0;
    vertical-align: 0;
}

/* 슬라이드 쇼 css */
.slide{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    width: 100%;
    height: 51vh;
}
.slideshow-container {
    width: 60%;
    position: relative;
    margin: auto;
}
.slideshow-container .mySlides img {
    height: 51vh;
}
.mySlides {
    display: none;
}
.prev, .next {
    cursor: pointer;
    width: auto;
    color: #F9D984;
    font-weight: bold;
    font-size: 2.5vw;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
}
.right{
    text-align: center;
    width: 20%;
    position: relative;
}
.left{
    text-align: center;
    float: left;
    width: 20%;
    position: relative;
}
  .dot_collec{
    margin-top: -30px;
    position: relative;
  }
  .dot {
    cursor: pointer;
    height: 2vmin;
    width: 2vmin;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #F9D984;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }


/* 상품카테고리 css */
.product_cate{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    background-color: white;
}
.product_cate_txt{
    font-size: 1.3vw;
    color: #666666;
    font-weight: bold;
    text-align: center;
}
.product_cate_btn{
    margin-top: 1vh;
    margin-left: 10%;
    display: flex;
    justify-content:space-between;
    width: 80%;
}
.product_cate_btn button {
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}
.product_cate_btn button img{
    width: 13vw;
    height: 100%;
}
/* 현재 인기 상품 css */
.product_best{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    background-color: white;
}
.product_best_btn{
    clear: both;
    margin-top: 1vh;
    margin-left: 10%;
    display: flex;
    justify-content:space-between;
    width: 80%;
}

.product_best_btn button {
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}

.product_best_btn button img{
    width: 13vw;
    height: 100%;
}

.product_best_txt{
    font-size: 1.3vw;
    color: #666666;
    font-weight: bold;
    text-align: center;
}

.product_best_analysis img{
    width: 6vw;
    height : auto;
}
.product_best_analysis{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 11vw;
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}

/* 제조사 순위 css */
.company_best{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    background-color: white;
}

.company_best_txt{
    font-size: 1.3vw;
    color: #666666;
    font-weight: bold;
    text-align: center;
}

.company_best_detail_Btn{
    border: transparent;
    font-size: 0;
    line-height: 0;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-left: 11vw;
}
.company_best button {
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}

.company_best_btn{
    clear: both;
    margin-top: 1vh;
    margin-left: 15%;
    display: flex;
    justify-content:space-between;
    width: 70%;

}

.company_best_btn img{
    width: 12vw;
}

.company_best_detail_Btn img {
    width: 5vw;
    height: auto;
    background-color: transparent;
}

/* 회사정보 css */
.bb_information{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    font-weight: 700;
    width: 100%;
    height: auto;
    background-color: #f9d984;
}
.bb_information_tb{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin: 0 auto;
}
.bb_information_tb caption{
    font-size: 2vh;
}

.bb_information_tb tr{
    font-size: 1.3vh;
}