 @font-face {
    font-family: 'NanumSquareRound';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'NanumSquareRound';
}
/* header css */
.header{
    width: 100%;
    height: 8vh;
}
/* header 사용자 로고 css */
.header_01{
    display: flex;
    align-items: center;
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: #F9D984;
}

.user_btn{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}
.header_01 img{
    height: 4vh;
}
.header_01 a{
    color: white;
    font-size: 2vh;
}

/* header 비비엔다 로고 css */
.header_02{
    width: 33.33%;
    height: 100%;
    float: left;
    background-color: #F9D984;
    display: flex;
    align-items: center;
    
}
.header_02 img{
    height: 6vh;
    text-align: center;
    margin: 0 auto;
}

/* header 검색창 css */
.header_03{
    width: 33.33%;
    height: 100%;
    float: right;
    background-color: #F9D984;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header_03 input{
    width: 17vw;
    height: 4vh;
    border: transparent;
    border-radius: 6px;
}
.header_03 button{
    margin-left: 1vw;
    margin-right: 1vw;
    float: right;
    border: transparent;
    background-color: transparent;
    font-size: 0;
    line-height: 0;
}
.header_03 img{
    height: 4vh;
    width: 100%;
}

.main{
    overflow-y: scroll;
    width: 100%;
    height: 92vh;
    background-color: white;
}

/* .main::-webkit-scrollbar{
    width: 10px;
    background-color: transparent;
}

.main::-webkit-scrollbar-thumb{
    background-color: #F9D984;
    border-radius: 3px;
    border: 2px solid transparent;
} */


/* 슬라이드 쇼 css */
.slide{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    width: 100%;
    height: 51vh;
}
.slideshow-container {
    width: 60%;
    position: relative;
    margin: auto;
}
.slideshow-container .mySlides img {
    height: 51vh;
}
.mySlides {
	    height: 51vh;
    display: none;
}
.prev, .next {
    cursor: pointer;
    width: auto;
    color: #F9D984;
    font-weight: bold;
    font-size: 2.5vw;
    transition: 0.6s ease;
    border-radius: 3px 0 0 3px;
    user-select: none;
}
.right{
    text-align: center;
    width: 20%;
    position: relative;
}
.left{
    text-align: center;
    float: left;
    width: 20%;
    position: relative;
}
  .dot_collec{
    bottom:0;
    left: 50%;
    transform: translate(-50%);
    position: absolute;
  }
  .dot {
    cursor: pointer;
    height: 2vmin;
    width: 2vmin;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  .active, .dot:hover {
    background-color: #F9D984;
  }
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  @-webkit-keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }
  @keyframes fade {
    from {opacity: .5}
    to {opacity: 1}
  }


/* 상품카테고리 css */
.product_cate{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    background-color: white;
}
.product_cate_txt{
    font-size: 1.3vw;
    color: #666666;
    font-weight: bold;
    text-align: center;
}
.product_cate_btn{
    margin-top: 1vh;
    margin-left: 10%;
    display: flex;
    justify-content:space-between;
    width: 80%;
}
.product_cate_btn button {
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}
.product_cate_btn button img{
    width: 13vw;
    height: 100%;
}
/* 현재 인기 상품 css */
.product_best{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    background-color: white;
}
.product_best_btn{
	clear:both;
    margin-top: 1vh;
    margin-left: 10%;
    display: flex;
    justify-content:space-between;
    width: 80%;
}

.product_best_btn button {
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}

.product_best_btn button img{
    width: 13vw;
    height: 100%;
}

.product_best_txt{
    font-size: 1.3vw;
    color: #666666;
    font-weight: bold;
    text-align: center;
}
.product_best_analysis img{
    width: 6vw;
    height : auto;
}
.product_best_analysis{
	clear : both;
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 11vw;
    float: right;
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}
/* 제조사 순위 css */
.company_best{
    margin-top: 3vh;
    width: 100%;
    height: auto;
    background-color: white;
}

.company_best_txt{
    font-size: 1.3vw;
    color: #666666;
    font-weight: bold;
    text-align: center;
}

.company_best_detail_Btn{
    margin-top: 1vh;
    margin-bottom: 1vh;
    margin-right: 15vw;
    float: right;
}
.company_best button {
    background-color: transparent;
    border: transparent;
    font-size: 0;
    line-height: 0;
}

.company_best_btn{
    clear: both;
    margin-top: 1vh;
    margin-left: 15%;
    display: flex;
    justify-content:space-between;
    width: 70%;

}

.company_best_btn img{
    width: 12vw;
}

.company_best_detail_Btn img {
    width: 5vw;
    height: auto;
    background-color: transparent;
}

/* 회사정보 css */
.bb_information{
    display: flex;
    align-items: center;
    margin-top: 3vh;
    font-weight: 700;
    width: 100%;
    height: auto;
    background-color: #f9d984;
}
.bb_information_tb{
    margin-top: 5px !important;
    margin-bottom: 5px !important;
    margin: 0 auto;
}
.bb_information_tb caption{
    font-size: 2vh;
}

.bb_information_tb tr{
    font-size: 1.3vh;
}


/****************************************************************
제조사 상품정보 css
******************************************************************/
/* 모달창 css */
.modal{
	overflow:hidden;
}
    .delevery_produc{
   	 width: 5.5vw;
    }
    
    .modal_head{
      text-align: center;
     border-bottom: 1px solid #707070;
     padding: 1vw;
     font-size: 1.5vw;
    }
    
    .modal_body {
    margin-left: auto;
    background-color: white;
    margin-right: auto;
    overflow: auto;
    width: 50%;
    height: 80%;
    box-shadow: 5px 10px 10px 1px rgb(0 0 0 / 30%);
    position: fixed;
    top: 3vw;
    left: 25%;
}

.modal_content{
	padding: 1vw;
}
/* 제조사 정보 */

.customerInfo_tb td, .customerInfo_tb th {
    border: 0.5px solid #333333;
     padding:0.2vw;
     text-align: center;
}

.customerInfo_tb th{
	background-color: #f6f6f6;
	
}
.customerInfo_tb{
    width: 100%;
	margin-top: 1vh;
	 border-collapse: collapse;
	 font-size: 0.8vw;
}
.close{
	border: none;
    float: right;
    font-size: 2.1vh;
    background-color: white;
    color: #707070;
    font-weight: 700;
    cursor: pointer;
}

/* 실시간 고객 매칭 */
.customerImg_div{
	 display: table-cell;
	 vertical-align: middle;
	 text-align: center;
}
.customer_head{
	    width: 7vw;
}

.customer_div{
	overflow:auto;

}
.customer_div::-webkit-scrollbar-button{
    width: 0;
    height: 0;
}
.customer_div::-webkit-scrollbar-thumb {
    height: 30%; /* 스크롤바의 길이 */
    background: #B0B0B0; /* 스크롤바의 색상 */
    border-radius: 10px;
}

.customer_div::-webkit-scrollbar-track {
    background: #f6f6f6;  /*스크롤바 뒷 배경 색상*/
}

.customer_tb{
	border-spacing: 1vw;
	margin-top: -1vh;
	
}
 
.customer_tb td{
	box-shadow: 0px 0px 6px #00000029;
	border-radius: 5px;
	    padding: 0.3vw;
}
.customer_name{
	font-size: 0.7vw;
}
.user_Img{
	width: 3vw;
}
.add_1{
        margin-top: 0.6vh;
}
.go_btn{
    width: 4.2vw;
}

.add_2{
	    float: right;
    margin-left: 1vw;
   margin-bottom: -0.2vh;
    width: 5vw;
    margin-top: -2vh;
}

/* 리뷰/만족도 */
.review_tb{
	width:100%;
	 border-collapse: collapse;
	 font-size: 0.8vw;
}
.review_head{
	    width: 6vw;
}
.new_text{
	width: 1.5vw;
}
.vip_text{
	    width: 1.1vw;
}
.normal_text{
	width:1.1vw
} 
.review_div{
	margin-top: 1vh;
}
#scope-chart{
    width: 18vw !important;
    height: 19vh !important;
    margin-top: 0.5vw;
    display: inline !important;
}

.review_tb th{
	background-color: #f6f6f6;
}
.review_td{
	 border: 0.5px solid #333333;
    padding:0.2vw;
    text-align: center;
}
.review_td1{
	 border-left: 0.5px solid #333333;
    padding:0.2vw;
    width: 20%;
    text-align: right;
}
.review_tb th {
    border: 0.5px solid #333333;
    padding:0.2vw;
}

/* 별점 css */
.star {
    position: relative;
    font-size: 1.2vw;
    color: #ddd;
  }
  
  .star1 {
    position: relative;
    font-size: 1.2vw;
    color: #ddd;
  }
  
  
   .star1 .star_total{
  width: 0;
    position: absolute; 
    left: 0;
    color: #FFA216;
    overflow: hidden;
    pointer-events: none;
  }
  
  .star .star_design {
    width: 0;
    position: absolute; 
    left: 0;
    color: #FFA216;
    overflow: hidden;
    pointer-events: none;
  }
  
   .star .star_size {
    width: 0;
    position: absolute; 
    left: 0;
    color: #FFA216;
    overflow: hidden;
    pointer-events: none;
  }
     .star .star_texture {
    width: 0;
    position: absolute; 
    left: 0;
    color: #FFA216;
    overflow: hidden;
    pointer-events: none;
  }
